

.starter-template {
	color: #FF0022;
	font-size: 2em;
	border-style: solid;
	border-color: #FF0022;
	border-width: 2mm;
	width: 40%;
	height: 80%;
	padding: 2%;
	position: absolute;
	right: 2%;

}



nav {
	background-color: #D1BC33;
}

.navbar-brand {
	color: #3C0005;
}

nav li {
	color: #3C0005;
}



body, html {
	background: url("../img/chinese.jpg");

	/* Full height */
	height: 100%;
	width: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.chinchar {
	font-size: 100vw;
}